<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppers</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                     &#9776;
                </button>
                <a href="index.html">BookShop</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Book Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="index.html">Fiction</a>
                </li>
                  <li>
                    <a href="index.html">Non-Fiction</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                      <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                      <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                      <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                      <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                      <li>
                        <div class="product ">
                            <img class="product-image" src="images/book1.png" alt="products">
                            <div class="product-name">
                                <a href="product.html">The Intelligent Investor</a>
                            </div>
                            <div class="product-author">Benjamin Graham</div>
                            <div class="product-price">$50</div>
                            <div class="product-rating">4.5 Stars (10 review)</div>
                        </div>
                    </li>
                </ul>
            </div>
           
        </main>
        <footer class="footer">
            All right reserved.
        </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>
</html> 