html {
  font-size: 62.5%;
  /*16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.2rem;
}

.header-links a:hover {
  color: rgb(172, 60, 20);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

/*Home Screen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 5px;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 65px;
}

.product-author {
  font: size 1.5rem;
  color: #808080;
  margin-left: 65px;

}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 65px;
}

.product-image {
  max-height: 34rem;
  max-width: 34rem;
}

.product-rating {
  margin-bottom: 1rem;
  margin-left: 65px;
}

/* Side bar*/
.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 1.5rem;
  padding-top: .5rem;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}

.sidebar ul li {
  list-style-type: none;
  margin-bottom: 2rem;
}

/* Product Details*/

.details{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap:wrap;
  padding: 1rem;
}

.details-info{
  flex: 2 1 60rem;
}

.details-image {
  flex: 2 1 30rem;
  margin-left: 4rem;
}
.details-image img{
  max-width: 40rem;
  widows: 100%;

}
.details-action {
  flex: 2 1 30rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.bact-to-result{
  padding: 1rem;
}

.details-action{
  border: .1rem #808080 solid;
  border-radius: .5rem;
  background-color: #f0f0f0;
  padding: 1rem;

}

.details-action ul li:last-of-type{
  display: flex;
  flex-direction: column;;
}

.button-primary{
  font-weight: bold;
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  background-color: rgb(231, 216, 43);
  cursor : pointer;
}

.button-primary:hover {
  border: .1rem #404040 solid;
}

/*Cart */

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  padding: 1rem;

}

.cart-list-container{
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: .1rem #808080 solid;
  padding-bottom: 1rem;

}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.cart-list-container img{
  max-width: 25rem;
  max-height: 25rem;


}

.test{
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.cart-image{
  flex: 1 1;
}

.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.cart-name{
  flex: 8 1;
}




